<h1 class="text-center">New List</h1>

<div style="text-align: center;"><%= render 'form', list: @list, page: @page %></div>
<table class="table table-borderless table-dark" style="margin-left:auto;margin-right:auto;width:450px;">
<tr>
  <td><%= link_to 'Back',  lists_path, class: "btn btn-outline-light btn-sm" %></td>
</tr>
</table>
